/**
*** SIMPLE GRID
*** (C) ZACH COLE 2016
**/

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

/* UNIVERSAL */

html,
body {
  background-image: url(technology.gif);
  text-align: centre;
  
}

/*.myimage{
  border: 1px solid;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
  align-content: centre;
  margin: auto;
  display: block;
}*/

.img {
  flex: auto;
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  align-content: center;
}

.box {
  background-image: url(codin.jpg);
  padding: 100px;
  marging: 100px;
  color: beige;
  text-align: center;
}

@media(min-width: 960px){
  .img {
    display: flex;
    align-content: center;
    object-fit: cover;
  }
}
@media(min-width: 760px)
.container{
    display:flex;
  }
/*
.Gwamasenga{
  border: 2px;
  padding: 3em;
  display: flex;
  align-items: center;
  text-align: center;
}
*/
@media(min-width: 760px){
  .container.flex {
    display: flex;
  }
}

table, th, td {
  border: 1px solid white;
  width: 25em;
  color: aliceblue;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
}
.paragraph{
  padding: 5em;
  color: beige;
}

@media(min-width: 760px) {
  .subjects{
    display: flex;
  }

}
.sub1 {
  flex: 1;
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  text-align: left;
  color: aliceblue;
}

.sub2 {
  flex: 1;
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  text-align: left;
  color: aliceblue;
}
.sub3 {
  flex: 1;
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  text-align: left;
  color: aliceblue;
}
.sub{
  text-align: center;
  color: aliceblue;
}
.navbar {
  color: white;
  height: auto;
  
}
.navbar ul {
display: flex;
color: aliceblue;
}
.navbar a {
  padding: 10px;
  margin: 0 5px;
  color: aliceblue;
}

.navbar a:hover {
  border-bottom: 2px white solid;
}

.navbar .flex {
  justify-content: space-between;
}
.container {
  max-width: 760 px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
  align-content: center;
  color: aliceblue;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: left;
  align-items: left;
  height: 100;
}

.ul {
  list-style-type: none;
  padding: 0;
  color: aliceblue;
}
